
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>blog</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/css/navbar-static-top.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">-->

</head>
<style>
    .container .xiugai{
        width: 70%;margin: 15px auto
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #20a0ff;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 110px;
        height: 110px;
        line-height: 110px;
        text-align: center;
    }
    .avatar {
        width: 110px;
        height: 110px;
        display: block;
    }
</style>
<body>
<div id="app">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">全部博客</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">JavaSript</a></li>
                <li><a href="#about">HTML</a></li>
                <li><a href="#contact">nodejs</a></li>
                <li><a href="#contact">vuejs</a></li>
                <li><a href="#contact">其他</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li class="active"><a href="#">注册 <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



    <div class="container">

        <div class="form-signin">
            <h4 class="form-signin-heading xiugai">欢迎您！请注册</h4>
            <input type="email" id="inputEmail" v-model="username" @click="fadeInfo" class="form-control xiugai" placeholder="用户名" required autofocus>
            <input type="password" id="inputPassword" v-model="password" @click="fadeInfo" class="form-control xiugai" placeholder="密码" required>
            <input type="password" id="inputPassword" v-model="repassword" @click="fadeInfo" class="form-control xiugai" placeholder="确认密码" required>

            <button class="btn btn-lg btn-primary btn-block xiugai" type="button" @click="regist" >注册</button>
        </div>
        <div class="alert alert-warning xiugai text-center" v-show="isShowInfo" role="alert">{{infoMsg}}</div>


</div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script>
    var vm=new Vue({
        el:"#app",
        data:{
            username:'',
            password:'',
            repassword:'',
            isShowInfo:false,
            infoMsg:'',
            imageUrl: ''
        },
        methods:{
            fadeInfo(){
                this.isShowInfo=false;
            },
            regist(){
                var _this=this;
                if(this.username==''||this.password==''|| this.repassword=='' ){
                    this.isShowInfo=true;
                    this.infoMsg='请完善注册信息';
                    return;
                }
                axios.post('/postregist', {
                            username: this.username,
                            password: this.password,
                            repassword:this.repassword
                        }).then(function (result) {
                           // console.log(result);
                            if(result.data.code==-3){
                                _this.isShowInfo=true;
                                _this.infoMsg=result.data.msg;
                                return;
                            }
                            if(result.data.code==-2){
                                _this.isShowInfo=true;
                                _this.infoMsg=result.data.msg;
                                return;
                            }
                            if(result.data.code==-1){
                                _this.isShowInfo=true;
                                _this.infoMsg=result.data.msg;
                                return;
                            }
                            if(result.data.code==1){
                                _this.isShowInfo=true;
                                _this.infoMsg=result.data.msg;
                                setTimeout(function(){
                                    window.location='/login';
                                },1000)
                                return;
                            }
                        })
            }
        }
    })
//    var a=document.getElementById('app');
//    a.onfocus
</script>

</html>
